<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Public+Sans:300,500&display=swap" rel="stylesheet">

<title>Document</title>
</head>

<body>
    <a href="/users/logout">Déconnexion</a>
    <h1 id='title'>Bonjour <%= user.charAt(0).toUpperCase() + user.slice(1) %>
    </h1>
    <div class="container-fluid mt-3">
        <!-- jumbotron -->
        <div class="jumbotron jumbotron-fluid bg-info text-white">
            <div class="container-fluid">
                <h1 class="display-5">Github Repositories</h1>
            </div>
        </div>
        <!-- responsive table -->
        <div class="table-responsive">
            <table id="dataTable" class="table table-bordered">
                <thead>
                    <tr class="table-info">
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">URL</th>
                        <th scope="col">Languages</th>
                        <th scope="col">Contributors</th>
                    </tr>
                </thead>
                <tbody id="tbody">
                </tbody>
            </table>
            <a href="#" onclick="download_table_as_csv('my_id_table_to_export');">Download as CSV</a>

        </div>
    </div>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script>

        let title = document.getElementById('title').innerHTML
        let name = title.split(' ')[1]

        axios.get('http://localhost:4000/csv?username=' + name + '&projectName=NutriHealthy').then(result => {
            console.log("CSV", result.data)
        })


        async function getProjects(name) {
            let result = await axios.get(
                `https://api.github.com/users/` + name + `/repos`
            );

            return result;
        }

        getProjects(name).then(async (response) => {

            let languages = [];
            let contributors = [];

            let i = 0;
            for (const iterator of response.data) {
                let result = await fetch(iterator.languages_url);
                let l = await result.json();

                let getLanguages = Object.getOwnPropertyNames(l);
                languages.push(getLanguages);

                let collaborateur = await fetch(iterator.contributors_url);
                let test = await collaborateur.json();
                let login = [];
                for (const pseudo of test) {
                    login.push(pseudo.login);
                    login.join("");
                }

                contributors.push(login);

                const ligne = document.createElement("tr");
                ligne.setAttribute("id", "test");

                const td = document.createElement("td");
                td.innerHTML = iterator.id;

                const td2 = document.createElement("td");
                td2.innerHTML = iterator.name;

                const td3 = document.createElement("td");
                td3.innerHTML = iterator.html_url;

                const td4 = document.createElement("td");
                td4.innerHTML = languages[i];

                const td5 = document.createElement("td");
                td5.innerHTML = contributors[i];

                ligne.appendChild(td);
                ligne.appendChild(td2);
                ligne.appendChild(td3);
                ligne.appendChild(td4);
                ligne.appendChild(td5);

                const tbody = document.getElementById("tbody");
                tbody.appendChild(ligne);
                i++;
            }
        })

    </script>
</body>


</html>