<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
    </head>

    <body>

        <ul>
            <% if(messages.success_msg) { %>
                <li>
                    <%= messages.success_msg %>
                </li>
                <% } %>
        </ul>

        <ul>
            <% if (messages.error) { %>
                <li>
                    <%= messages.error %>
                </li>
                <% } %>
        </ul>

        <img src="../img/elementhaut_connexion.png">
        <img src="../img/logo success lab 2.jpg" class="img_logo">

        <form action="/users/login" method="POST">
            <div class="child">
                <input type="email" id="email" name="email" placeholder="Adresse Mail" required class="input">
            </div>

            <div class="child2">
                <input type="password" id="password" name="password" placeholder="Mot de passe" required class="input">
            </div>

            <div class="child">
                <input type="submit" id="submit" value="Se connecter" />
            </div>

            <div class="child">
                <a href="/users/register" id="register_button"> Créer un compte</a>
            </div>
        </form>

        <img src="../img/elementbas_connexion.png" >
    


    </body>

</html>


<style scoped>

html{
    height: 100%;
}

body{
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}


.child, .child2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 15px;
}

.child2{
    padding-bottom: 30px;
}

.input{
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 13px;
    padding-left: 13px;
    border-radius: 10px;
    border-color: #316196;
    border-style:solid;
}

input::placeholder{
    color: #316196;
}

#submit{
    padding-bottom: 12px;
    padding-top: 12px;
    padding-right: 34px;
    padding-left: 34px;
    border-radius: 20em;
    border: none;
    background-color: #F68916;
    color: white;
}

.img_logo{
    height: 15%;
    padding-bottom: 20px;
}

</style >