<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>

</head>



<body>
    <header>
        <div class="home">
            <a href="..">
                <img src="../img/logohome.PNG" class="img_home">
            </a>
        </div>

    </header>

    <div class="corps">

        <ul>
            <% if (typeof errors !='undefined' ) { %>
                <% errors.forEach(error=> { %>
                    <li>
                        <%= error.message %>
                    </li>
                    <% }) %>
                        <% } %>
        </ul>

        <img src="../img/elementhaut_connexion.png">
        <img src="../img/logo success lab 2.jpg" class="img_logo">


        <form action="/users/register" method="POST">

            <div class="child">
                <input type="text" id="name" name="name" placeholder="Gitpseudo" required>
            </div>

            <div class="child">
                <input type="email" id="email" name="email" placeholder="Adresse Mail" required>
            </div>

            <div class="child">
                <input type="number" id="localhost" name="localhost" placeholder="localhost sonarqube" required>
            </div>

            <div class="child">
                <input type="" id="text" name="usrsonarqube" placeholder="username sonarqube" required>
            </div>

            <div class="child">
                <input type="password" id="password" name="password" placeholder="Mot de passe sonarqube" required>
            </div>

            <div class="child">
                <input type="password" id="password2" name="password2" placeholder="Confirmer le mot de passe" required>
            </div>

            <div class="child">
                <input type="submit" value="Inscription" id="submit" />
            </div>

            <div class="child">
                <a href="/users/login" class="connect"> Se connecter</a>
            </div>
        </form>

        <img src="../img/elementbas_connexion.png">

    </div>

</body>

</html>


<style scoped>
    html {
        height: 100%;
    }

    body {
        height: 90%;
        display: flex;
        flex-direction: column;
    }

    .corps {
        height: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }


    .child {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Arial, Helvetica, sans-serif;
        padding-bottom: 20px;
    }

    #name,
    #email,
    #password,
    #password2 {
        padding-bottom: 10px;
        padding-top: 10px;
        padding-right: 13px;
        padding-left: 13px;
        border-radius: 10px;
        border-color: #316196;
        border-style: solid;
    }

    #Gitpseudo::placeholder,
    #email::placeholder,
    #password::placeholder,
    #password2::placeholder {
        color: #316196;
    }


    .img_logo {
        height: 15%;
        padding-bottom: 20px;
    }

    #submit {
        padding-bottom: 12px;
        padding-top: 12px;
        padding-right: 34px;
        padding-left: 34px;
        border-radius: 20em;
        border: none;
        background-color: #F68916;
        color: white;
    }

    .img_home {
        height: 45px;
        width: 50px;
    }

    .connect {
        text-decoration: none;
        color: #316196;
        font-weight: bold;
    }
</style>